<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Joe Marini Website</title>
</head>


<body>
{{> header}}


<p>{{upperCase welcomeMessage }}</p>

{{> footer}}

</body>
</html>