<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Joe Marini Website</title>
</head>

<body>
{{> header}}



<p> some project information</p>

{{> footer}}

</body>
</html>